<h1>Log in / New Account</h1>


<div class="col-md-6 col-md-offset-3">
  	
		<%= form_for(:user, url: login_path) do |f| %>
		<div class="row">
	
		  <%= f.label :email %>
		  <%= f.email_field :name, class: 'form-control' %>
		
		  <%= f.label :password %>
		  <%= f.password_field :password, class: 'form-control' %>
		
		</div>
		  <%= f.submit "Log in", class: "btn btn-primary" %>
		<% end %>
	
</div>
<hr>
<div class="col-md-6 col-md-offset-3">
    <p><h4>New user?</h4></p>
    <%= form_for(:user, url: create_account_path) do |f| %>

  	<div class="row">
      <%= f.label :email %>
      <%= f.email_field :name, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

  	</div>
      <%= f.submit "New Account", class: "btn btn-primary" %>
    <% end %>
    
</div>
